.poster {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  color: black;
  /* text-shadow: 1.5px 1px white; */
  height: 100vh;
  text-align: center;
  border-radius: 15px;
}

.each-movie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.cover-image {
  width: 300px;
  box-shadow: 8px 8px 2px 2px rgb(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 15px;
}

.zoom {
  transition: all .2s ease-in-out;
}

.zoom:hover {
  transform: scale(1.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 1);
}

.poster-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  width: 50%;
  margin: 61px 0 60px 0;
  background-color: #7d7777;
  opacity: 80%;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.title-tag {
  margin-bottom: 0;
  text-align: center;
}

.poster-title {
  font-size: 40px;
  font-weight: bold;
}

.tagline {
  font-size: 25px;
  font-weight: bold;
}

.details {
  width: 35vw;
  padding: 20px 20px 20px 20px;
  border-radius: 0.5rem;
  /* margin: 5% 0% 5% 18%; */
  border: 2px solid black;
  box-shadow: 8px 8px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #4cd0a4;
  font-weight: bold;
}

button {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  length: 150px;
  background-color: #4cd0a4;
  box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.5);
}


