.poster {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  height: 100vh;
  text-align: center;
}

.cover-image {
  width: 400px;
  box-shadow: 8px 8px 2px 2px #4cd0a4;
}

.poster-container {
  width: 55%;
  height: 75%;
  background-color: #7d7777;
  opacity: 80%;
}

.cover-image {
  width: 400px;
  box-shadow: 8px 8px 2px 2px #4cd0a4;
}

.poster-title {
  font-size: 55px;
}

