.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
  text-align: center;
}

.poster-container {
  width: 55%;
  height: 75%;
  background-color: #7d7777;
  opacity: 80%;
}

.poster-title {
  font-size: 55px;
}

