.trailer-container {
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  height: 0;
}

.trailer-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}